Source: lm-sensors-legacy-libsensors4
Section: utils
Priority: extra
Build-Depends: debhelper (>= 9), bison, flex
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Aurelien Jarno <aurel32@debian.org>
Standards-Version: 3.9.8
Homepage: http://www.lm-sensors.org

Package: libsensors4-legacy
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libsensors-config, ${shlibs:Depends}, ${misc:Depends}
Priority: optional
Suggests: lm-sensors
Section: libs
Description: library to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This library is only functional with a Linux kernel, it is provided on
 non-Linux systems for portability reasons only.
 .
 This package contains a shared library for querying lm-sensors.
