#!/usr/bin/make -f

%:
	dh $@ --parallel

MAKEARGS = DESTDIR=$(CURDIR)/debian/tmp \
           PREFIX=/usr \
           LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
           MANDIR=/usr/share/man \
           CFLAGS="$(CFLAGS)" \
           CPPFLAGS="$(CPPFLAGS)" \
           LDFLAGS="$(LDFLAGS)" \
           EXLDFLAGS="$(LDFLAGS)"

override_dh_auto_clean:
	dh_auto_clean -- $(MAKEARGS)

override_dh_auto_build:
	dh_auto_build -- $(MAKEARGS)

override_dh_auto_install:
	dh_auto_install -- $(MAKEARGS)
	rm -rf $(CURDIR)/debian/tmp/etc
	rm -rf $(CURDIR)/debian/tmp/usr/bin
	rm -rf $(CURDIR)/debian/tmp/usr/sbin
	rm -rf $(CURDIR)/debian/tmp/usr/include
	rm -rf $(CURDIR)/debian/tmp/usr/share/man
	rm -f $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libsensors.a
	rm -f $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libsensors.so
